.appContainer {
  margin: 1%
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  margin: 5px auto;
}

.addRootNodeButton {
  width: 120px;
}

.addRootNodeBlock {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  width: 375px;
}